# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database


POSTGRES_URL=postgresql://neondb_owner:npg_a2kzgTeKdxR4@ep-sparkling-meadow-av5bju5k-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_a2kzgTeKdxR4@ep-sparkling-meadow-av5bju5k.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-sparkling-meadow-av5bju5k-pooler.c-11.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_a2kzgTeKdxR4
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_a2kzgTeKdxR4@ep-sparkling-meadow-av5bju5k-pooler.c-11.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_a2kzgTeKdxR4@ep-sparkling-meadow-av5bju5k-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth


# POSTGRES_URL=
# POSTGRES_PRISMA_URL=
# POSTGRES_URL_NON_POOLING=
# POSTGRES_USER=
# POSTGRES_HOST=
# POSTGRES_PASSWORD=
# POSTGRES_DATABASE=